.shop-item {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border: 1px solid black;
  border-radius: 5px;
  margin: 2rem;
  background-color: rgb(250, 244, 237);
}

.photo-container {
  width: 300px;
  height: 300px;
}

.photo-container img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.item-order-info {
  text-align: center;
  margin-top: 1rem;
}

.item-order-info h2,
.item-order-info p,
.add-to-cart {
  font-family: 'Dosis', sans-serif;
}

.item-order-info h2 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 0.4rem;
}

.item-order-info p {
  font-size: 1.3rem;
  margin-bottom: 0.4rem;
}

.add-to-cart {
  cursor: pointer;
  font-size: 1rem;
}