.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid black;
  border-radius: 5px;
  width: 90%;
  padding: 0.5rem;
  margin: 0.5rem auto 0.5rem auto;
  background-color: rgb(250, 246, 246);
}

.thumbnail-container {
  width: 100px;
  height: 100px;
}

.thumbnail-container img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.cart-item-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Dosis', sans-serif;
}

.cart-item-info .qty-controller {
  margin-bottom: 0;
}

.cart-item-name,
.cart-item-price-total {
  font-weight: bold;
}

.cart-item-name {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.cart-item-price {
  margin-bottom: 0.3rem;
}

.cart-item-price-total {
  margin-top: 0.5rem;
  border-top: 1px solid black;
}

.trash-icon {
  width: 20px;
  height: auto;
}

.trash-icon:hover {
  cursor: pointer;
  transform: scale(1.05);
}